<div class="img-wrapper">
    <img src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width="500" />
</div>
<div class="film__info">
    <h2 class="film__title">{{title}}
        <span class="film__year">({{year}})</span>
    </h2>
    <table>
        <tbody>
            <tr>
                <th>vote / votes</th>
                <td>{{vote_average}} / {{vote_count}}</td>
            </tr>
            <tr>
                <th>popularity</th>
                <td>{{popularity}}</td>
            </tr>
            <tr>
                <th>original_title</th>
                <td>{{original_title}}</td>
            </tr>
            <tr>
                <th>genre</th>
                <td>
                    <ul class="genres-list">
                        {{#each genres}}
                        <li class="genres-list__item">{{this.name}}</li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    </p>
    <h3 class="about-title">About</h3>
    <p class="overview">{{overview}}</p>
</div>