<li class="itemFilm">
    <h2 class="itemFilm_title">{{title}}
        <span class="filmYear">({{release_date}})</span>
        {{!-- <span class="filmYear">({{getYear release_date}})</span> --}}
    </h2>
    <div class="card_rating">{{vote_average}}</div>
    <img src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" class="card__movie" data-id="{{id}}" />
</li>