 <img src="http://image.tmdb.org/t/p/w500{{dateFilm.poster_path}}" alt="text about img" class="details-page_img" >

<div class="details-page_card">
<h2 class="details-page_name">{{dateFilm.original_title}}</h2>
<ul class="details-page_list"
  <il class="details-page_item">
    <span>vote / votes</span>
    <span>{{dateFilm.vote_count}}</span>
    </il>
  <il class="details-page_item">
    <span>popularity</span>
    <span>{{dateFilm.popularity}}</span>
    </il>
  <il class="details-page_item">
    <span>original title</span>
    <span>{{dateFilm.original_title}}</span>
    </il>
  <il class="details-page_item">
    <span>genre</span>
    <ul>
      {{#each dateFilm.genres}}
    <li class="genres-list__item">{{this.name}}</li>
      {{/each}}
    </ul>

    </il>
</ul>

<h3>About</h3>
<p>{{dateFilm.overview}}</p>
 <form class="details-page__form" data-name="form-film" >
    <div class="" data-name="{{queue.film}}">
        <i class="{{queue.iconNot}} {{queue.icon}} " data-name="icon-Queue"></i>
        <button type="submit" class="details-page__button" data-name="button_Queue">{{queue.add}}</button>
    </div>
    <div  class="" data-name="{{watched.film}}" >
        <i class="{{watched.iconNot}} {{watched.icon}}" data-name="icon-Watched"></i>
        <button type="submit" class="details-page__button" data-name="button_Watched">{{watched.add}}</button>
    </div>
</form>
</div>
