 <img src="#" alt="text about img" class="details-page_img" >

<div class="details-page_card">
<h2 class="details-page_name">Name Film</h2>
<ul class="details-page_list">
  <il class="details-page_item">
    <span>vote / votes</span>
    <span></span>
    </il>
  <il class="details-page_item">
    span>popularity</span>
    <span></span></il>
  <il class="details-page_item">
    span>original title</span>
    <span></span></il>
  <il class="details-page_item">
    span>genre</span>
    <span></span></il>
</ul>

<h3>About</h3>
<p>A young elephant, whose oversized ears enable him to fly, helps save a struggling circus, but when the circus plans a new venture, Dumbo and his friends discover dark secrets beneath its shiny veneer.</p>

 <form class="details-page__form" data-name="form-film" >
    <div class="" data-name="{{queue.film}}">
        <i class="{{queue.iconNot}} {{queue.icon}} " data-name="icon-Queue"></i>
        <button type="submit" class="details-page__button" data-name="button_Queue">{{queue.add}}</button>
    </div>
    <div  class="" data-name="{{watched.film}}" >
        <i class="{{watched.iconNot}} {{watched.icon}}" data-name="icon-Watched"></i>
        <button type="submit" class="details-page__button" data-name="button_Watched">{{watched.add}}</button>
    </div>
</form>
</div>
